.aov.combat-sidebar {
  background-image: var(--aov-background);
  background-repeat: no-repeat;
  background-size: cover;

  .combat-tracker .combatant {
   border-bottom: 1px solid var(--aov-primary-font-colour);
   border-radius: 0px;
   &.active::before {
    border: 4px solid var(--color-warm-2);
    border-radius: 0px;
   }
  }
}

.combat-tracker-header {
  border-bottom: 2px solid var(--aov-primary-font-colour);
}
